* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.icon-container {
    margin-bottom: 20px;
}

.persona-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.contador {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}

.botones {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.verde {
    background-color: #4CAF50;
}

.rojo {
    background-color: #f44336;
}

.btn:active {
    transform: scale(0.98);
}